.projects {
  @apply flex justify-center flex-col;
  background-color: #e5e8e2;
  align-items: center;
}

.projects-gap {
  background-color: #e5e8e2;
  height: 96px;
  width: 100%;
}

.projects-header {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}

.projects-header-bottom-line {
  height: 4px;
  width: 3rem;
  background-color: #e191a7;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.projects-text-bottom-line {
  height: 2px;
  width: 60%;
  background-color: lightgray;
  border-radius: 1px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.projects-container {
  @apply w-11/12 2xl:w-8/12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-image {
  background-color: lightblue;
  height: 300px;
  width: 500px;
  border-radius: 1rem;
  box-shadow: 5px 10px 5px;
}

.project-container {
  @apply flex w-full flex-col lg:flex-row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.projects-image-container {
  @apply w-full lg:w-1/2 flex justify-center mb-10 lg:mb-0;
}

.projects-text-container {
  @apply w-full px-16 md:px-32 lg:px-0 lg:w-1/2 flex flex-col lg:block;
}

.project-header {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}

.project-text {
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3rem;
}

.project-button {
  background-color: #82aae3;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 6px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}

.project-button:hover {
  transition: 1s;
  background-color: #39b5e0;
}
