.header-button {
  @apply text-2xl md:text-3xl;
  display: flex;
  align-items: center;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  gap: 10px;
  border: none;
  background-color: white;
  height: 90px;
  cursor: pointer;
}

.header-button-image {
  height: 44px;
  width: 44px;
}
