.hero {
  height: calc(100vh - 96px);
  position: relative;
  opacity: 90%;
}

.hero-gap {
  @apply w-full h-16 md:h-24;
}

.hero-text-container {
  @apply px-10 text-center lg:text-left w-full h-full absolute top-0 left-0 flex flex-col justify-center;
  align-items: center;
}

.hero-text-header {
  color: #000000;
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
}

.hero-text {
  @apply text-3xl;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6rem;
}

.hero-button {
  background-color: #82aae3;
  border: 0;
  height: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 6px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 1s;
  margin-top: 4rem;
}

.hero-button:hover {
  transition: 1s;
  background-color: #39b5e0;
}
