.header {
  @apply flex justify-center bg-white h-24 m-0 p-0 fixed top-0 w-full;
  align-items: center;
  z-index: 99;
}

.header-center {
  @apply flex px-10;
  width: 90vw;
  max-width: 1120px;
  /* justify-content: center; */
  align-items: center;
}

.header-text {
  color: #000000;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.header-links {
  @apply hidden md:flex;
}

.header-burger {
  @apply flex md:hidden;
}
